<div id="place-show" class="ui grid">
    <div id="sidebar" class="four wide column"><!--Sidebar-->
        <div id="sidebar-grid" class="ui grid">
            <div class="sixteen wide center aligned column"><!--Picture-->
              <% if @presenter.photo_url %>
                  <div id='picture' class="ui medium circular image">
                      <%= image_tag(@presenter.photo_url) %>
                  </div>
              <% end %>
            </div><!--Picture-->

            <div class="sixteen wide center aligned column">
                <h3 id="side-title"><%= @presenter.name  %></h3>
            </div>

            <div id='address' class="sixteen wide center aligned column">
                <h3><%= @presenter.display_address.street_no %> <%= @presenter.display_address.street_name %></h3>
            </div>

            <div id='address' class="sixteen wide center aligned column">
                <h3><%= @presenter.display_address.city %>, <%= @presenter.display_address.region %></h3>
            </div>

            <div id='address' class="sixteen wide center aligned column">
                <h3><%= @presenter.phone_no %></h3>
            </div>

            <div class="sixteen wide center aligned column"><!--Map-->
                <div id='map' class="ui medium rounded image" style="height: 15em; width: 15em;"></div>
            </div><!--Map-->

        </div>
    </div><!--Sidebar-->

    <div id="right-section" class="twelve wide column">
        <div class="ui centered grid">
            <div id="title-container" class="sixteen wide center aligned column">
              <h1 id="title"><%= @presenter.name %></h1>
            </div>
            <% cache('actions') do %>

            <div id="action-container" class="four wide center aligned column">
                <button id="follow" class="ui teal small basic button">
                    <i class="eye icon"></i>
                    Follow
                </button>

                <button id="following" class="ui red small basic button hidden">
                    <i class="eye icon"></i>
                    Following
                </button>
            </div>

            <div id="action-container" class="four wide center aligned column">
                <button class="ui blue small basic button">
                    <i class="mail icon"></i>
                    Message
                </button>
            </div>
            <% end %>
            <%= render "layouts/new_comment" %>
            <div id="comments-container" class="sixteen wide column"><!--container-->
                <div id="shadow-container" class="ui segment">
                      <h2 id="comments-header" class="ui horizontal divider header">Comments</h2>
                    <div id="scroll" class="ui centered grid">
                    </div>
                </div>
            </div><!--container-->
        </div><!-- Grid -->
    </div><!--Right Section -->
</div>

<script type="text/javascript">

var map;
function initMap() {
  var myLatLng = {lat: <%= @presenter.my_lat %>, lng: <%= @presenter.my_lng %>};

  map = new google.maps.Map(document.getElementById('map'), {
  center: myLatLng, 
  zoom: 14
  });
  var marker = new google.maps.Marker({
    position: myLatLng,
    map: map,
    title: 'Hello World!'
  });
}

</script>

<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLE_KEY']%>&callback=initMap">
</script>
