<div class="ui grid">
    <div id="sidebar" class="four wide column"><!--Sidebar-->
        <div id="sidebar-grid" class="ui grid">
            <div class="sixteen wide center aligned column"><!--Picture-->
                <div id='picture' class="ui small rounded image">
                  <%= image_tag(@place.image_url) %>
                </div>
            </div><!--Picture-->

            <div class="sixteen wide center aligned column">
              <h3 id="side-title"><%= @place.name  %></h3>
            </div>

            <div class="sixteen wide center aligned column">
              <div class="ui large star rating" data-rating="#{@place.rating}"></div>
            </div>

            <div class="sixteen wide left aligned column">
              <h3><%= @address.street_no %> <%= @address.street_name %></h3>
            </div>

            <div class="sixteen wide left aligned column">
              <h3><%= @address.city %>, <%= @address.region %></h3>
            </div>

            <div class="sixteen wide left aligned column">
              <h3><%= @place.phone_no %></h3>
            </div>

            <div class="sixteen wide center aligned column"><!--Map-->
                <a href="#">
                    <div id='map' class="ui circular image">
                        <img src="https://s3-us-west-2.amazonaws.com/feedbee/map_Fotor.jpg">
                    </div>
                    <p id="directions">Directions</p>
                </a>
            </div><!--Map-->

        </div>
    </div><!--Sidebar-->

    <div id="right-section" class="twelve wide column">
        <div class="ui centered grid">
            <div id="title-container" class="sixteen wide center aligned column">
              <h1 id="title"><%= @place.name %></h1>
            </div>

            <div id="action-container" class="four wide center aligned column">
                <button id="follow" class="ui teal small basic button">
                    <i class="eye icon"></i>
                    Follow 
                </button>

                <button id="following" class="ui red small basic button hidden">
                    <i class="eye icon"></i>
                    Following 
                </button>
            </div>

            <div id="action-container" class="four wide center aligned column">
                <button class="ui blue small basic button">
                    <i class="mail icon"></i>
                    Message 
                </button>
            </div>


            <div id='comment-form' class="twelve wide column"><!--New Comment -->
                <div id='new-comment' class="ui fluid left icon input">
                    <input id='input-comment' type="text" placeholder="Add a new comment">
                    <i class="plus icon"></i>
                    <%= link_to "Submit", comments_path, method: :post, class: "ui button" %>
                </div>
            </div><!--New Comment -->

            <div id="comments-container" class="sixteen wide column"><!--container-->
                <div id="shadow-container" class="ui segment">
                    <div id="scroll" class="ui centered grid">
                        <% 15.times do %>
                        <%= render "layouts/comment" %>
                        <% end %>
                    </div>
                </div>
            </div><!--container-->

        </div><!-- Grid -->
    </div><!--Right Section -->
</div>
