<div id="place-show" class="ui grid">
    <div id="sidebar" class="four wide column"><!--Sidebar-->
        <div id="sidebar-grid" class="ui grid">
            <div class="sixteen wide center aligned column"><!--Picture-->
                <div id='picture' class="ui medium circular image">
                  <%= image_tag(@presenter.photo_url) %>
                </div>
            </div><!--Picture-->

            <div class="sixteen wide center aligned column">
                <h3 id="side-title"><%= @presenter.name  %></h3>
            </div>

            <div class="sixteen wide center aligned column">
                <div class="ui large star rating" data-rating=<%= @presenter.rating %>></div>
            </div>

            <div id='address' class="sixteen wide center aligned column">
                <h3><%= @presenter.display_address.street_no %> <%= @presenter.display_address.street_name %></h3>
            </div>

            <div id='address' class="sixteen wide center aligned column">
                <h3><%= @presenter.display_address.city %>, <%= @presenter.display_address.region %></h3>
            </div>

            <div id='address' class="sixteen wide center aligned column">
                <h3><%= @presenter.phone_no %></h3>
            </div>

            <div class="sixteen wide center aligned column"><!--Map-->
                <div id='map' class="ui medium rounded image" style="height: 15em; width: 15em;"></div>
            </div><!--Map-->

        </div>
    </div><!--Sidebar-->

    <div id="right-section" class="twelve wide column">
        <div class="ui centered grid">
            <div id="title-container" class="sixteen wide center aligned column">
              <h1 id="title"><%= @presenter.name %></h1>
            </div>

            <div id="action-container" class="four wide center aligned column">
                <button id="follow" class="ui teal small basic button">
                    <i class="eye icon"></i>
                    Follow
                </button>

                <button id="following" class="ui red small basic button hidden">
                    <i class="eye icon"></i>
                    Following
                </button>
            </div>

            <div id="action-container" class="four wide center aligned column">
                <button class="ui blue small basic button">
                    <i class="mail icon"></i>
                    Message
                </button>
            </div>


            <div id='comment-form' class="twelve wide column"><!--New Comment -->
                <%= form_for @comment, html: {class: "ui fluid left icon input", id: 'new-comment'} do |f| %>
                    <i class="plus icon"></i>
                    <%= f.text_field :body, id: "input-comment", placeholder: "Add a new comment" %>
                    <%= f.hidden_field :commentable_id, :value => @presenter.id %>
                    <%= f.hidden_field :commentable_type, :value => @presenter.class %>
                    <%= f.hidden_field :sentiment, id: "sentiment" %>
                      <div id="sentiment-button"> <%= f.submit "Submit", class: "ui button", id: "submit-button" %> </div>
                      <div class="ui popup bottom left transition hidden" style="top: 154px; left: 1px; bottom: auto; right: auto; width: 761px;">
                        <div class="ui relaxed divided grid">
                          <div class="twelve wide column">
                            <h4 class="ui header">Is your comment a good or bad thing?</h4>
                            <div class="ui horizontal list">
                              <button id="good" class="mini ui green button">Good</a>
                              <button id="bad" class="mini ui red button">Bad</a>
                            </div>
                          </div>
                        </div>
                      </div>
                <% end  %>
            </div><!--New Comment -->


            <div id="comments-container" class="sixteen wide column"><!--container-->
                <div id="shadow-container" class="ui segment">
                    <div id="scroll" class="ui centered grid">
                    </div>
                </div>
            </div><!--container-->
        </div><!-- Grid -->
    </div><!--Right Section -->
</div>

<script type="text/javascript">

var map;
function initMap() {
  var myLatLng = {lat: <%= @presenter.lat %>, lng: <%= @presenter.lng %>};

  map = new google.maps.Map(document.getElementById('map'), {
  center: myLatLng, 
  zoom: 14
  });
  var marker = new google.maps.Marker({
    position: myLatLng,
    map: map,
    title: 'Hello World!'
  });
}

</script>

<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLE_KEY']%>&callback=initMap">
</script>
