<div id='comment-form' class="twelve wide column">
    <%= form_for @comment, html: {class: "ui fluid left icon input", id: 'new-comment'} do |f| %>
        <i class="plus icon"></i>
        <%= f.text_field :body, id: "input-comment", placeholder: "Add a new comment" %>
        <%= f.hidden_field :commentable_id, :value => @presenter.id %>
        <%= f.hidden_field :commentable_type, :value => @presenter.class %>
        <%= f.hidden_field :sentiment, id: "sentiment" %>
          <div id="sentiment-button"> <%= f.submit "Submit", class: "ui button", id: "submit-button" %> </div>
          <div class="ui popup bottom left transition hidden" style="top: 154px; left: 1px; bottom: auto; right: auto; width: 761px;">
            <div class="ui relaxed divided grid">
              <div class="twelve wide column">
                <h4 class="ui header">Is your comment a good or bad thing?</h4>
                <div class="ui horizontal list">
                  <button id="good" class="mini ui green button">Good</a>
                  <button id="bad" class="mini ui red button">Bad</a>
                </div>
              </div>
            </div>
          </div>
    <% end  %>
</div>
